<%- include('partials/header') %>

    <h1>Compose</h1>
    <form action="#" method="post">
        <div class="form-group">
            <h4>Title</h4>
            <input type="text" class="form-control" name="postTitle" autocomplete="off">

            <h4>Post</h4>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="postBody"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Publish</button>
    </form>

    <%- include('partials/footer') %>